/* Universal styles */
* {
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: #2f4f4f;
    color: antiquewhite;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    position: sticky;    
    top: 0;
}

.header-img {
    height: 5px;
    width: 5px;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.55vw;
    color: antiquewhite;
}

/* footer section styles */
footer {
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    font-size: 20px;
    margin: 0;
}

.contact {
    display: flex;
}

/* sections  */

section {
    padding: 35px;
}

article {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-around;
}

 .article-img {
    width: 50%;
    border-radius: 15px;
    margin: 10px 10px;
}

.section-title {
    text-align: center;
}

p {
    padding: 20px;
}

.flex-row {
    display: flex;
}

.teams-title {
    font-size: 48px;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    border-color: black;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {



}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

}